/* Hero */
.Hero {
  position: relative;
  
}

.banner_img {
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
    mask-image: linear-gradient(to top, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to top, transparent, black 75%);

}

.hero_caption {
  position: absolute;
  width: 100%;
  padding-left: 6%;
  bottom: 0;
  color: white;
  
}

.hero_caption_img {
  width: 90%;
  max-width: 420px;
  margin-bottom: 30px;
}

.hero_caption p {
  font-size: 17px;
  max-width: 700px;
  margin-bottom: 20px;
}
.hero_btn{
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}
.hero_btn .btn img{
  width: 25px;
}
.hero_btn .btn {
  border: 0;
  outline: 0;
  padding: 8px 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.hero_buttons_light {
  background: white;
  color: black;
}
.hero_buttons_light:hover{
  background: #FFFFFFBF;
 
}
.hero_buttons_dark {
  background: #6d6d6eb3;
  color: white;
}
.hero_buttons_dark:hover {
  background: #6d6d6e66;
}


.populaire_netflix_title {
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}



/* Title Cards */
.titleCards {
  padding-left: 6%;
  display: block;
}
.titleCards_hero{
 padding-left: 0;
 margin-top: 100px; 
}

.card_list::-webkit-scrollbar {
  display: none;
}

.card_list {
  display: flex;
  overflow-x: scroll;
}



@media (max-width: 1024px) {
  .hero_caption .titleCards_hero{
    display: none;
  }
  .hero_btn {
    margin-bottom: 30px;
  }

}

@media (max-width: 800px) {
  .hero_caption {
padding-left: 4%;
  }
  .hero_caption_img{
    margin-bottom: 10px;
    width: 40%;

  }

  .hero_caption p{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .hero_buttons_dark img .hero_buttons_light img .btn{
    width: 20px;
  }
  .more_cards{
    padding-left: 4%;
  }
}

@media (max-width: 500px) {
  .hero_caption img{
    display: none;
  }
    .hero_buttons_dark img .hero_buttons_light .btn{
      width: 15px;
    }
    .btn{
      padding: 4px 10px;
      gap: 5px;
      font-size: 10px;
    }
}